body {
    font-family: arial, sans-serif;
    color: rgb(19, 19, 19);
    background-color: #ffffff;
    font-size: x-large;
    margin: 0;
}

hr {
    height: 4px ;
    background-color: rgb(87, 87, 87);
    border: none;
    border-radius: 2px;
    margin-top: 1rem;
}

.wrapper {
    display: grid;
    grid-template-columns: 17% 83%;
    height: 100vh;
}

.sidebar {
    grid-column: 1 / 2;
    background-color: #616161b4;
    border-right: 4px solid rgba(19, 19, 19, 0.904);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.main {
    grid-column: 2 / 3;
    margin-left: 2rem;
    margin-right: 2rem;
    overflow-y: auto;
}

.list-top {
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.list-top h2 {
    padding: 0;
}

.list-top button {
    font-size: large;
    background-color: #ffffff;
    margin-top: 1.5rem;
    height: 4rem;
    border: 5px solid rgb(104, 104, 104);
    border-radius: 10px;
}

.list-top button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.54);
}

.list-top input {
    border: 2px solid rgb(192, 192, 192);
    border-radius: 5px;
    margin-top: 2.1rem;
    margin-right: 1rem;
    height: 2rem;
    font-size: 1.3rem;
}

.list-item {
    display: flex;
    flex-direction: row;
    border: 4px solid rgba(182, 88, 11, 0.788);
    border-radius: 5px;
    background-color: rgba(233, 120, 27, 0.692);
    padding: 0.5rem;
    gap: 0.75rem;
    margin-bottom: 0.5rem;
}

.list-item p {
    margin: 0;
    color: rgb(48, 48, 48);
    font-weight: bold;
}

.list-item input[type="checkbox"] {
    cursor: pointer;
    height: 25px;
    width: 25px;
    accent-color: #38d845;
}

.content {
    display: flex;
}

.completed-items {
    display: flex;
    flex-direction: column;
}

.list-item .delete-button {
    border-radius: 5px;
    border: none;
    color: rgb(202, 202, 202);
    background-color: rgba(179, 83, 4, 0.753);
}

.list-item .delete-button:hover {
    color: hsl(0, 100%, 50%);
    cursor: pointer;
    background-color: rgba(209, 90, 11, 0.767);
}

.input {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.input input {
    font-size: 1.5rem;
}

.add-item {
    border: 2px solid rgb(192, 192, 192);
    border-radius: 5px;
}

.add-item-button {
    border: none;
    border-radius: 5px;
    width: 34px;
    background-color: rgb(192, 192, 192);
    color: rgb(53, 53, 53);
}

.add-item-button:hover {
    cursor: pointer;
    background-color: rgb(143, 143, 143);
}

.completed-items .list-item {
    display: flex;
    flex-direction: row;
    border: 4px solid rgba(153, 64, 12, 0.74);
    border-radius: 5px;
    background-color: rgba(175, 81, 18, 0.664);
    padding: 0.5rem;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.completed-items .add-item p {
    margin: 0;
    color: rgba(48, 48, 48, 0.212);
    font-weight: bold;
}

.completed-items .delete-button {
    border-radius: 5px;
    border: none;
    color: rgb(185, 185, 185);
    background-color: rgb(122, 50, 8);
}

.completed-items .delete-button:hover {
    color: hsl(0, 100%, 50%);
    cursor: pointer;
    background-color: rgb(141, 141, 141);
}

.add-list {
    border: 5px solid rgb(102, 102, 102);
    background-color: #fcfcfc;
    border-radius: 10px;
    padding: 1rem;
    font-size: larger;
    width: 12rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
}

.add-list:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.514);
}

.list-picker {
    display: flex;
    border-top: 2px solid rgb(85, 85, 85);
}

.list-picker button {
    border: none;
    background-color: transparent;
    font-size: larger;
    margin-left: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 3rem;
}

.list-picker button:hover {
    cursor: pointer;
}

.list-picker .delete-button {
    background-color: rgb(107, 107, 107);
    color: rgb(202, 202, 202);
    border-radius: 5px;
    max-height: 30px;
    max-width: 40px;
    margin-top: 2rem;
    padding: 0;
    border: none;
}

.list-picker .delete-button:hover {
    color: hsl(0, 100%, 50%);
    cursor: pointer;
    background-color: rgb(124, 124, 124);
}

.sidebar-bottom {
    border-top: 2px solid rgb(85, 85, 85)
}